<div class='container'>
  <h1 class='text-center'>Stories</h1>
  <div class='row'>
    <% @stories.each do|story| %>
      <div class='col-sm-4'>
        <h2 class='text-center'><%=link_to story.title, story_path(story)%></h2>
      </div>
    <% end %>
  </div>
</div>

