<div class='container foriframe'>  
  <% if @story.url %>
    <iframe class='text-center' src= <%= @story.url %> width="73%" height="2000" marginwidth= "10%"frameborder="0" ></iframe>
  <% else %>
    <h1 class='text-center'><%=@story.title%></h1>
    <% @story.chapters.each do |chapter| %>

    <% end %>
  <% end %>
</div>
  
 
