<div class='container'>  
  <% if @story.url %>
    <iframe class='text-center' src="https://docs.google.com/document/d/12lkHmyxFcik2RJPKT1Z6UoKCneofzh_YMm2gtNgdMU8/pub + "?embedded=true" width="100%" height="2000" frameborder="0" ></iframe>
  <% else %>
    <h1 class='text-center'><%=@story.title%></h1>
    <% @story.chapters.each do |chapter| %>

    <% end %>
  <% end %>
</div>
  
 
