<footer class="footer">
   <ul class="nav navbar-nav footertxt">
        <li><%= link_to 'Home', root_path %> <span class="sr-only"></span></li>
        <li><%= link_to 'Stories', stories_path %></li>
    </ul>
</footer>